################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Mikelfy/FileContentIndex
/.vs/Mikelfy/v17/DocumentLayout.json
/.vs/Mikelfy/v17/.suo
